Package: ml.festival.libweathermanager
Name: weathermanagerd
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Sniper_GER <sniperger@festival.ml>
Author: Sniper_GER <sniperger@festival.ml>
Section: System
Tag: role::hacker
