Package: ml.festival.libweathermanager
Name: libWeatherManager
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: This library gets Weather data. Should work on iOS 9 and 10
Maintainer: Sniper_GER <sniperger@festival.ml>
Author: Sniper_GER <sniperger@festival.ml>
Section: System
