Package: ml.festival.redstoneicons
Name: Redstone Icons
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Icons for Redstone
Maintainer: Sniper_GER<sniperger@festival.ml>
Author: Sniper_GER<sniperger@festival.ml>
Section: Resources
