<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>LOCK_SCREEN</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>lockScreenEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LOCK_SCREEN_DETAIL_APP</string>
			<key>footerText</key>
			<string>LOCK_SCREEN_DETAIL_APP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LOCK_SCREEN_DETAIL_APP</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<string>com.apple.mobilecal</string>
			<key>ALSettingsKey</key>
			<string>lockDetailApp</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ml.festival.redstone.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>ml.festival.redstone.PreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LOCK_SCREEN_APPS</string>
			<key>footerText</key>
			<string>LOCK_SCREEN_APPS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LOCK_SCREEN_APP_1</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<string>com.apple.mobilephone</string>
			<key>ALSettingsKey</key>
			<string>lockApp1</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ml.festival.redstone.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>ml.festival.redstone.PreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LOCK_SCREEN_APP_2</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<string>com.apple.MobileSMS</string>
			<key>ALSettingsKey</key>
			<string>lockApp2</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ml.festival.redstone.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>ml.festival.redstone.PreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LOCK_SCREEN_APP_3</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<string>com.apple.mobilemail</string>
			<key>ALSettingsKey</key>
			<string>lockApp3</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ml.festival.redstone.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>ml.festival.redstone.PreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LOCK_SCREEN_APP_4</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<false/>
			<key>ALSettingsKey</key>
			<string>lockApp4</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ml.festival.redstone.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>ml.festival.redstone.PreferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>LOCK_SCREEN_APP_5</string>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsDefaultValue</key>
			<false/>
			<key>ALSettingsKey</key>
			<string>lockApp5</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ml.festival.redstone.plist</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALChangeNotification</key>
			<string>ml.festival.redstone.PreferencesChanged</string>
		</dict>
	</array>
</dict>
</plist>
