<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>cellClass</key>
			<string>PFHeaderCell</string>
			<key>background</key>
			<string>#FFFFFF</string>
			<key>image</key>
			<string>/Library/PreferenceBundles/Redstone.bundle/banner</string>
			<key>height</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>COMPONENTS_TITLE</string>
			<key>footerText</key>
			<string>COMPONENTS_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>HOME_SCREEN</string>
			<key>detail</key>
			<string>RDSHomeScreenPreferences</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>LOCK_SCREEN</string>
			<key>detail</key>
			<string>RDSLockScreenPreferences</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>volumeControlsEnabled</string>
			<key>label</key>
			<string>VOLUME_CONTROLS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>notificationsEnabled</string>
			<key>label</key>
			<string>NOTIFICATIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>detail</key>
			<string>RDSAccentColorList</string>
			<key>key</key>
			<string>accentColor</string>
			<key>label</key>
			<string>ACCENT_COLOR</string>
			<key>PostNotification</key>
			<string>ml.festival.redstone.AccentColorChanged</string>
			<key>validTitles</key>
			<array>
				<string>#FFB900</string>
				<string>#FF8C00</string>
				<string>#F7630C</string>
				<string>#CA5010</string>
				<string>#DA3B01</string>
				<string>#EF6950</string>
				<string>#D13438</string>
				<string>#FF4343</string>
				<string>#E74856</string>
				<string>#E81123</string>
				<string>#EA005E</string>
				<string>#C30052</string>
				<string>#E3008C</string>
				<string>#BF0077</string>
				<string>#C329B3</string>
				<string>#9A0080</string>
				<string>#0078D7</string>
				<string>#0063B1</string>
				<string>#8E8CD8</string>
				<string>#6B69D6</string>
				<string>#8764B8</string>
				<string>#744DA9</string>
				<string>#B146D2</string>
				<string>#887198</string>
				<string>#0099BC</string>
				<string>#2D7D9A</string>
				<string>#00B7C3</string>
				<string>#038387</string>
				<string>#00B294</string>
				<string>#018574</string>
				<string>#00CC6A</string>
				<string>#10893E</string>
				<string>#7A7574</string>
				<string>#5D5A58</string>
				<string>#68768A</string>
				<string>#515C6B</string>
				<string>#567C73</string>
				<string>#486860</string>
				<string>#498205</string>
				<string>#847545</string>
				<string>#767676</string>
				<string>#4C4A48</string>
				<string>#69797E</string>
				<string>#4A5459</string>
				<string>#647C64</string>
				<string>#525E54</string>
				<string>#847545</string>
				<string>#7E735F</string>
				<string>#3E65FF</string>
				<string>CHOOSE_FROM_WALLPAPER</string>
			</array>
			<key>validValues</key>
			<array>
				<string>#FFB900</string>
				<string>#FF8C00</string>
				<string>#F7630C</string>
				<string>#CA5010</string>
				<string>#DA3B01</string>
				<string>#EF6950</string>
				<string>#D13438</string>
				<string>#FF4343</string>
				<string>#E74856</string>
				<string>#E81123</string>
				<string>#EA005E</string>
				<string>#C30052</string>
				<string>#E3008C</string>
				<string>#BF0077</string>
				<string>#C329B3</string>
				<string>#9A0080</string>
				<string>#0078D7</string>
				<string>#0063B1</string>
				<string>#8E8CD8</string>
				<string>#6B69D6</string>
				<string>#8764B8</string>
				<string>#744DA9</string>
				<string>#B146D2</string>
				<string>#887198</string>
				<string>#0099BC</string>
				<string>#2D7D9A</string>
				<string>#00B7C3</string>
				<string>#038387</string>
				<string>#00B294</string>
				<string>#018574</string>
				<string>#00CC6A</string>
				<string>#10893E</string>
				<string>#7A7574</string>
				<string>#5D5A58</string>
				<string>#68768A</string>
				<string>#515C6B</string>
				<string>#567C73</string>
				<string>#486860</string>
				<string>#498205</string>
				<string>#847545</string>
				<string>#767676</string>
				<string>#4C4A48</string>
				<string>#69797E</string>
				<string>#4A5459</string>
				<string>#647C64</string>
				<string>#525E54</string>
				<string>#847545</string>
				<string>#7E735F</string>
				<string>#3E65FF</string>
				<string>auto</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BACKGROUND_COLOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>ml.festival.redstone</string>
			<key>key</key>
			<string>themeColor</string>
			<key>PostNotification</key>
			<string>ml.festival.redstone.AccentColorChanged</string>
			<key>validTitles</key>
			<array>
				<string>BACKGROUND_COLOR_LIGHT</string>
				<string>BACKGROUND_COLOR_DARK</string>
			</array>
			<key>validValues</key>
			<array>
				<string>light</string>
				<string>dark</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_START_SCREEN_LAYOUT_TITLE</string>
			<key>action</key>
			<string>resetHomeScreenLayout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESTART_SPRINGBOARD_TITLE</string>
			<key>action</key>
			<string>killSpringBoard</string>
		</dict>
	</array>
	<key>title</key>
	<string>Redstone</string>
</dict>
</plist>
